@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color-top: 222 100% 57%;
    --bg-color-bottom: 215 97% 62%;
    --background: radial-gradient(71.19% 100% at 50% 0%, rgba(0, 0, 0, 0.00) 0%, rgba(255, 255, 255, 0.33) 100%), linear-gradient(hsl(var(--bg-color-top)), hsl(var(--bg-color-bottom)));
    --foreground: 0 100% 100%;
  }


  @font-face {
    font-family: 'Instrument';
    src: url('/fonts/instrument-serif-regular.woff2') format('woff2'),
      url('/fonts/instrument-serif-regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "SF Pro", "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
    height: 100vh;
  }
}