---
import Logo from "@/components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Guia de Carreira para Ciência da Computação">
	<main class="p-4 lg:px-8 py-4 h-full">
		<Logo />
	</main>
	<footer>
		<p>
			Design e desenvolvimento por <a
				href="https://twitter.com/pr333do"
				target="_blank">pr333do</a
			>. Código fonte disponível no Github
		</p>
	</footer>
</Layout>
