---
import LogoSVG from "@/assets/logo.svg?raw";
---

<div class="flex items-center gap-8">
  <div set:html={LogoSVG} />
  <h1 class="font-display text-2xl max-w-[20ch]">
    Guia de Carreira para Ciência da Computação
  </h1>
</div>
