---
import "@/styles/globals.css";

import Head from "@/components/head/index.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} />
	<body class="overflow-hidden">
		<slot />
	</body>
</html>
